
@font-face{
    font-family:Poppins;
    src: url('../font/Poppins-Regular.ttf');
}
body{

    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family:Poppins;
   
}

.first_page{
width:100%;
height:100%;
animation  : slideFRomLeft .9s ease-in;
}
@keyframes slideFRomLeft{
    from{
        transform: translateX(-1290px);
    }
    to{
        transform: translateX(0px);
    }
}
.cover {

        width:100%;
        height:100vh;
        background-image: url('../img/pfe2.jpg') ;
        background-size: cover;
        background-repeat: no-repeat;
        z-index:100;
        transition: all 4s ease-in;

}



.nav{

    width:100%;
    position:absolute;
    top: 26px !important;
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 50px;
    color:#fff;
    background-color: transparent;
    z-index:100;
   
}
.nav_child{
    width:84.21%;
    height:49px;
}

.cnx_btn{
    
    
    background-color: transparent; 
    text-align:center;
    position: relative;
    font-size: .8rem;
    font-weight: 600;
    transition: background-color .3s ease-in-out,border-color .3s ease-in-out,color .3s ease-in-out;
    border: 3px solid #f1cf69;
    border-radius:5px;
    padding: 12px 30px 12px 30px;
    margin-left:auto;
    text-decoration:none;
    color:#fff;
    outline: none;
}

.cnx_btn:hover{
    background-color: #f1cf69;
    text-decoration:none;
    
}
ul{
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 40px;
    margin:0px;
    padding:0px;
    width:30%;
    font-size: .75rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 6px;
    
}
ul li{
    list-style-type:none;
    
}

ul  a{
    text-decoration: none;
    color:#fff;
}
.gold{
    color:#f1cf69
}

.spacial_nav{
    position: fixed!important;
    top:0px !important;
    background-color: #fff!important;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    color:#333;
    transform: all in .5s ease-in;
    
}
.nav_child a img{

    width:120px;
    height:120px;
    margin-left:-5px;
    margin:-7px 80px 0px -5px;
}

.special_nav .nav_child ul a{
    color:#333;
}
.light_black{
    color:#333;
}
.to_top{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #efc852;
    position:fixed;
    bottom: 30px;
    right:30px;
    color: #fff;
    opacity: .7;
    cursor:pointer;
    visibility: hidden;
}
.show_me{
    visibility: visible;
}
.to_top:hover{
    background-color:#efc852;
    opacity:1;
}
.animate_me{
    animation: showMe .2s ease-in;

}
.special_nav .nav_child ul a{
    color:#333;
}
@keyframes showMe{
    0%  { top:-50px; }
    50%  { top:-30; }
    100%  { top:0px; }
}
.s_width{
    width:84.21%;
}

.title{
    font-family: 'Open Sans', sans-serif;
    margin:4.5rem 0rem 2.5rem 0rem;
    font-size: 45px;
    font-weight: 500;
    text-align:center;
    
}

.service{
     width:180px;

}
.services{
    margin-top:3rem;
}

.s_description{
   /* margin-top:5px;*/
   
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
    
}
.service i{
    color:#4a8b71;
    text-align:center;
}
.d_top{
    margin-bottom:13px;
    font-size: 5.7em;
    
}
.vente{
    margin-top: -10.2px;
}

.fact{
    text-align: center;
}
.facts{
    margin-top:.9rem;
    margin-bottom: 6rem;
}
.number{

    font-size: 3em;
    font-weight: 600;
    margin-bottom: 6px;
    letter-spacing:1.2px;
}
.f_d{
    font-size: 20px;
    letter-spacing: 1.8px;
}
.fotter_container{
    width:100%;
   
    padding: 3rem 0rem 3rem 0rem;
   
}

.fotter .item1{
    width:30%;
}
.item1 img{
    width:80px;
    height:80px;
    transform:scale(2.7);

}
.item1 p{
    font-weight: 500;
    font-family: -apple-system,Raleway,sans-serif;
    line-height: 1.5;
    font-size: .7rem;
    color:#777;
}
.t_fotter{
   font-weight:600;
   color:#282828;
   text-transform: uppercase;
   letter-spacing: 1.18px;
   margin-bottom:25px;
}
.newslaters form{
    width:100%;
}
.n_email{
    width:175px;
    padding:0px;
    height:40px;
    border-bottom: 1.1px solid #777;
    color:#777;
    padding-left:5px;

}
:-moz-placeholder{
    
    font-family:Poppins;

}
.m{
    cursor:pointer;
    width: fit-content;
    height: fit-content;
}
.third_page{
             
    background: #4a8b71;
    margin-top: 8rem;
    color:#fff;
    
}
.rendez_vous{
  margin-top:3px;
}
.d_rendez_vous{
  margin-top:13px;
}
.d_class{
  margin-top:14px;
}
.class{
  margin-top:3px;
}
.succes_valid {
    position: fixed;
             left: 20px;
             bottom: 50px;
             background-color: #323232;
             padding: 12px 24px 12px 24px;
             vertical-align: middle;
             color: #fff;
             box-shadow: 0 7px 18px rgba(0,0,0,0.2);
             border-radius: 1px;
             font-family: "Trebuchet MS", Helvetica, sans-serif;
 
    }
    .err_s,.error_u{
        background:tomato;
    }

    body{
        overflow-x:hidden;
    }
  .about{

      width:100%;
      background-color: #f8f9fa !important;
      padding-bottom: 4.5rem;
      position: relative;
}
  .profile{
        width:250px;
        border: 1px solid #d8dee2;
        background:#fff;
        

        
  }

  .cover_all {
      
      opacity: 0.50;
  }
  .title{
      margin:4.5rem 0rem 2.5rem 0rem;
  }
  .profile .img{
       width:240px;
       height:280px;
            
  }
  .fotter_profile{
       padding:1rem 0rem 1rem 0rem;
  }
  .p_name{
       text-transform: uppercase;
       font-weight: 600;
       color:#333;
       font-size: 1.1rem;
      letter-spacing: 1px;
  }
  .p_city{
      font-size: 16px;
letter-spacing: .5px;
color: #888;
  }
  #service,#agriculteur,#acceuil{
      cursor: pointer;
  }
  .description{
       width:100%;
       height:100%;

       position:absolute;
       top:0px;
  }
  .pub{
       
       width:71%;
       color: #fff;
       font-weight:600;
       font-size:2.8rem;
       z-index:1000;
       margin-top:45px;
  }
  .pub .pub1{
      width:100%;
      margin:auto;
  }
  .pub .pub2{
      width:68%;
      margin:auto;
  }
  .pub .pub3{
      width:55%;
      margin:auto;
  }
  .t_pub{
      font-size:3.7rem;
      color:#f1cf69;
  }
  
  .update_poster{
       width:100%;
       position:absolute;
       bottom:30px;
      
       height:30px;
  }
  .update_poster div {
        width:17px;
        height:17px;
        border-radius:50%;
        background:#f1cf69;
        margin :0 7px;
        cursor:pointer;
        z-index:3000;
        transition:all .3s ease-in;
  }
  .update_poster div:hover{
      background: #4a8b71;
  }
  .update_poster .p_activ{
      background: #4a8b71;
  }

  .transform_cover{
      transition:all 2s ease-in;
  }
  .prev,.next{
       width:30px;
       height:30px;
       border-radius:50%;
       background:#000;
       opacity:0.4;
       position:absolute;
       top:50%;
  }
  .prev{
      left:20px;
  }
  .next{
      right:20px;
  }
  .cover .img{
      width:100%;
      height:100%;
      
  }
  .img .img_default{
      width:100%;
       height:100%;
      background:#f1cf69;
      color:#fff;
  }
  .img img{
      
       height:100%;
       width:100%;
  }

  .all_profiles{
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .agr_list{
      
       width:100%;
       padding: 20px 8px 20px 8px;
       box-sizing: border-box;
       position: relative;
       transition : transform .9s ease-in-out;
  }
  .agr_list .profile{

    width:240px;
    height:100%;
    
    margin-left: 3.1%;
  }
  .agr_list :first-child{
      margin-left: 0px;
  }
  .slide_profile_right,.slide_profile_left
  {
      width:50px;
      height:50px;
      border-radius: 50%;
      background: #fff;
      position: absolute;
      top:50%;
      right:0px;
      transform: translate(-168%,55%);
      z-index: 1000;
      box-shadow: 4px 4px 20px 0 #2425261c;
      cursor: pointer;
      transition: .2s ease-in;
      display: none;

  }
  .slide_profile_left{
      left:0px;
      transform: translate(163%,55%);
  }
  .show_slide
  {
    display: flex;
  }
  .slide_profile_right:hover,.slide_profile_left:hover{
    box-shadow: 4px 4px 24px 0 #2425263d;
  }
  .slide_profile_right,.slide_profile_left i{
      font-size: 1.5rem;
      color: #efc852;
  }
  .cnx_btn:hover
  {
       color:#fff;
  }
  .input_n_container{
    position: relative;
  }
  .n_email ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background-color: #f1cf69; transition: 0.4s;}
  .n_email:focus ~ .focus-border{width: 100%; transition: 0.4s;}

  
.n_email{
background-color: transparent;
border:none;
border-bottom: 1.1px solid #777;
outline:none;
}
.pub {
height: 30vh;
width:72% !important;

}
.animated {
    -webkit-animation-duration: 1.4s;
    animation-duration: 1.4s;
   
}

.cover img{

    width:100%;
    transition: all .2s ease-in;
}

.first_page {
    position: relative;
}
.change_bg{
    z-index: 100;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 25px;
}
.change_bg div{
     width: 18px;
     height: 18px;
     border-radius: 50%;
     margin-right: 5px;
     background: #efc852;
     transition: .2s ease-in;
     cursor: pointer;
}
.change_bg .active_bg,.change_bg div:hover{
    background: #4a8b71;
}