
.swal2-popup{
    font-family:Poppins !important;
}
.swal2-icon.swal2-warning {
    border-color: #f1cf69 !important;
    color: #f1cf69 !important;
}

.swal2-styled.swal2-confirm{
    background: #f1cf69 !important;
    outline: thin dotted !important;
    outline-width: 0;
}

.swal2-styled.swal2-confirm:focus{
    outline: none !important;
    outline-width: 0;
}
[contenteditable="true"]:focus {
    outline: none;
}
.swal2-icon.swal2-success,.swal2-icon.swal2-error {
    border-color: #f1cf69 !important;
    color: #f1cf69 !important;
}
.swal2-icon.swal2-success [class^=swal2-success-line],
.swal2-icon.swal2-error [class^=swal2-x-mark-line],
.swal2-timer-progress-bar {
    
    background-color: #f1cf69 !important;
    box-shadow: none;
}

